<div *ngIf="result?.numberOfElements; else firstLoad">
    <div class="top-container">
        <h1>{{result.numberOfElements}} search results</h1>
        
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openCreateDialog()">Create new media</button>
        </mat-menu>
        
    </div>
        
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-bottom: 50px">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

        <ng-container matColumnDef="preview">
            <th mat-header-cell *matHeaderCellDef> Preview </th>
            <td mat-cell *matCellDef="let element"> 
                <div class="preview" [ngStyle]="{'background-image': 'url(/api/static/san/variants/' + element.id + '.png)'}">

                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="elementCount">
            <th mat-header-cell *matHeaderCellDef> Elements </th>
            <td mat-cell *matCellDef="let element"> {{element.elementsCount}} </td>
        </ng-container>

        <ng-container matColumnDef="streamCount">
            <th mat-header-cell *matHeaderCellDef> Streams </th>
            <td mat-cell *matCellDef="let element"> {{element.streamsCount}} </td>
        </ng-container>

        <tr mat-row (click)="clickedRow(row)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    
</div>
<ng-template #firstLoad>
    <div *ngIf="loading; else empty">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #empty>
    <h1>Hell, it's empty!</h1>
    <p>Well, it seems your media library is empty, click the button below to create your first media.</p>
    <button mat-raised-button (click)="openCreateDialog()">Create media</button>
</ng-template>