<div class="top-container">
    <h1>{{ result.name }}</h1>    
    
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openIngestDialog()">Ingest new files</button>
    </mat-menu>
    
</div>

<div class="container">
    <div class="preview" [ngStyle]="{'background-image': 'url(/api/san/variants/' + result.id + '.png)'}" *ngIf="result.elements?.length">
        <a (click)="openPlayer()"><mat-icon class="icon-display">play_circle</mat-icon></a>
    </div>
    <div>
        {{result.elements?.length}} file(s) ingested for this media.
        <ul>
            <li *ngFor="let element of result.elements">
                Element <span class="code">{{element.filename}}</span> in location <span class="code">{{element.location?.name}}</span><br/>
                It contains {{element.streams?.length}} streams:
                <ul>
                    <li *ngFor="let stream of element.streams" class="stream">
                        Stream #{{stream.streamIndex}} of type <span class="code">{{stream.type}}</span><br/>
                        Codec: {{stream.codecName}} ({{stream.codecType}})<br/>
                        Long name: {{stream.codecLongName}}<br/>
                        Tag String: {{stream.codecTagString}}<br/>
                        Status: {{stream.status}}
                    </li>
                </ul>
        
                <button mat-raised-button (click)="openMetadata(element)">Full metadatas</button>
            </li>
        </ul>
    </div>
</div>
