.code
    font-family: Courier
    color: #b32626

li 
    padding: 5px 0 15px 0

.top-container
    display: flex
    justify-content: space-between

.mat-icon
    margin-right: 0 !important

.container
    display: flex
    gap: 15px
    align-items: flex-start

.preview
    background-color: #CCC
    position: relative
    min-width: 200px
    min-height: 150px
    background-size: contain
    background-repeat: no-repeat
    background-position: center

    a
        cursor: pointer
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: block

.icon-display
   transform: translate(-50%, -50%) scale(2)
   top: 50%
   left: 50%
   position: absolute
   color: white