<h1>Your dashboard and pending tasks</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="result?.numberOfElements; else firstLoad">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

    <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef> Preview </th>
        <td mat-cell *matCellDef="let element"> 
            <div class="preview" [ngStyle]="{'background-image': 'url(/api/static/san/variants/' + element.id + '.png)'}">

            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="elementCount">
        <th mat-header-cell *matHeaderCellDef> Elements </th>
        <td mat-cell *matCellDef="let element"> {{element.elementsCount}} </td>
    </ng-container>

    <ng-container matColumnDef="streamCount">
        <th mat-header-cell *matHeaderCellDef> Streams </th>
        <td mat-cell *matCellDef="let element"> {{element.streamsCount}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>


<ng-template #firstLoad>
    <div *ngIf="loading; else empty">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #empty>
    <h2>Hell, it's empty!</h2>
    <p>Your tasks will be displayed there.</p>
</ng-template>