<h1>Welcome to Open MAM</h1>
<p>
    Open MAM aims to provide an open and powerful ecosystem for your media assets, it actually supports:

</p>
<ul>
    <li>Ingestion of all major broadcast formats</li>
    <li>Multiple input files or essence per assets</li>
    <li>Multiple essences containers indexation</li>
    <li>Locally attached, network, and cloud based (S3) locations support</li>
    <li>Move assets and variants between locations</li>
    <li>Dynamic metadata schema management, associated to either media or media versions, including reference support</li>
    <li>Asynchronous generation of multi video/audio and subtitles HLS stream for low-res playback, compatible with mobile playback</li>
</ul>
<p>
    Next steps of our roadmap:
</p>
<ul>
    <li>Globally improved UI</li>
    <li>Setup instructions</li>
    <li>Subtitle ingestion and playback support (EBU STL, TTML)</li>
    <li>Documentation</li>
</ul>
<p>
    Please lead to the documentation to get started!
</p>


<div class="github-container">
    <a href="https://github.com/soualid/openmam/" target="_blank">
        <img class="github" src="/assets/images/github-mark.svg" />
    </a> 
    <span>Visit our github repository to checkout the source code and contribute!</span>
</div>